@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*{
    padding: 0;
    margin: 0;
}

html, body{
    height: 100%;
    width: 100%;
}

body{
    font-family: "Poppins", sans-serif;
    background: #141316;
}

.main, .main2{
    width: 40%;
    min-height: 300px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #232226;
    border-radius: 7px;
    margin: 100px auto 0 auto;
    text-align: center;
    box-sizing: border-box;
    padding-top: 70px;
}

input{
    margin-top: 20px;
    box-sizing: border-box;
    padding-left: 10px;
    width: 70%;
    height: 40px;
    background: #323036;
    border-radius: 7px;
    color: #fff;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
}

input::placeholder {
    color: #b1aeb7;
}

.top_text{  
    color: white;
}

button{
    margin-top: 25px;
    cursor: pointer;
    background: linear-gradient(360deg, #6124e7 0%, #9d70ff 100%);
    border-radius: 5px;
    border: none;
    color: white;
    height: 50px;
    font-weight: bold;
    font-size: 16px;
    outline: none;
    width: 40%;
}


.acerto, .erro{
    margin-top: 10px;
    display:none;
}

.acerto{
    color: rgb(58, 219, 58)
}

.erro{
    color: rgb(255, 55, 55);
}

#play_again{
    display: none;
    margin-top: 0;
}

@media (max-width: 1200px){
    .main, .main2{
        width: 55%;
    }
}

@media (max-width: 768px){
    .main, .main2{
        width: 65%;
    }
}

@media (max-width: 500px){
    button{
        font-size: 12px;
        height: 40px;
    }

    .top_text{
        font-size: 14px;
    }
}